* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #3a3737;
  padding: 100px;
  padding-top: 0px;
}

body .header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

body .header h1 {
  font-family: monospace;
}

body .menu {
  font-family: monospace;
  position: fixed;
  margin-left: 33%;
}

body .menu a {
  border-radius: 25px;
  background-color: wheat;
  justify-content: space-between;
  text-align: center;
  margin: 25px;
  padding: 5px;
  color: black;
}

body Article {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  padding: 20%;
  border-radius: 25%;
}

body Article .photo {
  width: 100%;
  height: 100%;
}

body Article .AboutMe {
  color: whitesmoke;
  border-radius: 50px;
  margin-left: 100px;
}

body Article .AboutMe h1 {
  font-size: 2em;
  font-family: monospace;
}

body section {
  font-family: cursive;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  padding: 5%;
  border-radius: 25%;
}

body section h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: whitesmoke;
}

body section .Html {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .Css {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .Js {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .Sass {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .React {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .Bootstrap {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .Git {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body section .jQuery {
  text-align: center;
  border: 1px solid whitesmoke;
  padding-bottom: 5%;
  padding-top: 1%;
}

body .Projects {
  font-family: sans-serif;
  color: whitesmoke;
  padding: 5%;
  min-width: 100%;
  border-radius: 25%;
}

body .Projects h1 {
  text-align: center;
}

body .pr1 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr2 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr3 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr4 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr5 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr6 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr7 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body .pr8 {
  border: 1px dashed greenyellow;
  border-radius: 25px;
}

body footer {
  align-items: center;
  padding: 2px;
  background-color: wheat;
}

body footer .favicon {
  text-align: center;
  justify-content: center;
}

body footer a {
  font-size: 25px;
  margin: 0px 50px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #3a3737;
  }
}
